@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet 지도 기본 스타일 */
.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 1;
}

/* 스크롤바 스타일 */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
